<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wivsafe | Women Safey App </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
     <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>Wiv<span>Safe</span>.</h2>
            </div>  
        <div class="search">    
            <input type="text" id="search" placeholder="Search Here">
            <label for="search"><i class='bx bx-search-alt'></i></label>
        </div>
    
        <i class='bx bx-bell'></i>
        <div class="user">
            <img src="{{ url_for('static', filename='img/profilewivsafe.jpg') }}" alt="">
        </div>
    </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class='bx bxs-dashboard'></i>
                        <h3>Dashboard</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-doughnut-chart'></i>
                        <h3>Statistics</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-camera-movie'></i>
                        <h3>CCtv Updates</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-cog'></i>
                        <h3>Setting</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-help-circle'></i>
                        <h3>Help</h3>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="number">1217</div>
                        <div class="card-name">Student</div>
                    </div>
                    <div class="icon-box">
                        <i class='bx bx-shower'></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">1217</div>
                        <div class="card-name">Student</div>
                    </div>
                    <div class="icon-box">
                        <i class='bx bx-shower'></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">1217</div>
                        <div class="card-name">Student</div>
                    </div>
                    <div class="icon-box">
                        <i class='bx bx-shower'></i>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">1217</div>
                        <div class="card-name">Student</div>
                    </div>
                    <div class="icon-box">
                        <i class='bx bx-shower'></i>
                    </div>
                </div>
            </div>
            <div class="charts"></div>
        </div>
     </div>   


    <script src="static/js/script.js"></script>
</body>
</html>