<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wivsafe | Women Safey App </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
     <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>Wiv<span>Safe</span>.</h2>
            </div>  
        <div class="search">    
            <input type="text" id="search" placeholder="Search Here">
            <label for="search"><i class='bx bx-search-alt'></i></label>
        </div>
    
        <i class='bx bx-bell'></i>
        <div class="user">
            <img src="{{ url_for('static', filename='img/profilewivsafe.jpg') }}" alt="">
        </div>
    </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class='bx bx-home'></i>
                        <div>Dashboard</div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main"></div>
     </div>   


    <script src="static/js/script.js"></script>
</body>
</html>